

.logout {
    margin-left: -156px;
}

.search-box {
    margin-left: 50px;
}

.search-box-input {
    width: 500px!important;
}

.navbar{
    flex-wrap: wrap;
}


.navbar-nav{
    margin-left: 80px!important;
}


.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
    overflow-y: hidden;
  padding-top: 100px!important;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav button{
    text-decoration: none;
    color: #818181;
    padding: 0px 8px 6px 8px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.main {
    margin-top: 100px;
  margin-left: 180px; /* Same as the width of the sidenav */
  /*font-size: 28px;*/ /* Increased text to enable scrolling */
  padding: 0px 10px;
}


/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/

@media screen and (min-width: 300px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}








/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* Vaults Page
/*-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-*/

/*.container-fluid{
     border: 1px solid #00000024;
    height: 100%;
    width: 900px;
    background-color: white;
    text-align: center;
     box-shadow: 0px 0px 20px
}*/

/*.card-header{
    text-align: center;
}

.card-body{
     text-align: center;
}*/



aside{
    float: left!important;
}
.fab{
    float: right!important;
    font-size:36px;
}
.article{
    float: right!important;
}
.checked {
  color: orange;
}
.chat{
    list-style-type: circle;
}
#paidchatb{
     margin: 0;
  position: absolute;
  left: 60%;
    bottom: 1%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#freechatb{
    margin: 0;
  position: absolute;
  right: 60%;
    bottom: 1%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}












