.btn {
  cursor: pointer;
}

.logout {
    margin-left: -156px;
}

.search-box {
    margin-left: 50px;
}

.search-box-input {
    width: 500px!important;
}

.navbar{
    flex-wrap: wrap;
}


.navbar-nav{
    margin-left: 80px!important;
}


.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
    overflow-y: hidden;
  padding-top: 100px!important;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav button{
    text-decoration: none;
    color: #818181;
    padding: 0px 8px 6px 8px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.main {
    margin-top: 100px;
  margin-left: 180px; /* Same as the width of the sidenav */
  /*font-size: 28px;*/ /* Increased text to enable scrolling */
  padding: 0px 10px;
}


/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/

@media screen and (min-width: 300px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}








/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* Projects Page
/*-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-*/

aside {
    float: left!important;
}
.fa {
    /* float: right!important; */
    font-size: 10px;
    margin: 1px;
}
.article {
    float: right!important;
}
.checked {
  color: orange;
}
.chat {
    list-style-type: circle;
}
#paidchatb{
     margin: 0;
  position: absolute;
  left: 60%;
    bottom: 1%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#freechatb{
    margin: 0;
  position: absolute;
  right: 60%;
    bottom: 1%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/**** Reviews *****/

.R-heading {
  font-size: 25px;
  margin-right: 25px;
  box-sizing: border-box;

}

.fa {
  font-size: 25px;
}

.row {
  padding: 10px;
}
#re
.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height:  18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}

/**** Pricing*****/
.price {
list-style: none;
}
.Ppricing {
float: right;
font-size: 50px;
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* Form Page
/*-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-*/

.tweet{
  font-size: larger;
}
 
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* Overview Page
/*-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-*/

textarea {
resize: none;
padding: 5px;
}

#scope {
float: left;
}

/* Toggle Switch */
.custom-control {
  float: right;
}